@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*CSS Custom Variables*/
:root {
    --primary-color: #f9f9f9;
    --secondary-color: #0000FF;
    --accent-color: #2ecc71;
    --neutral1: #eaeaea;
    --neutral2: #888888;
}


body {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--secondary-color);
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction:row;
}

footer {
    padding: clamp(4px, 2vw, 20px);
    color: var(--neutral2);
    display: flex;
    align-items: end;
    justify-content: center;
    flex-grow: 1;
}

#habits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header__heading1 {
    font-weight: 700;
    font-size: 2rem;
    padding: clamp(4px, 5vh, 32px);
}

#header__intention {
    font-size: 1.5rem;
    padding: clamp(4px, 2vh, 16px);
    font-weight: 500;
}

/* #addHabit {
    padding: clamp(4px, 2vw, 20px);
} */

.section--left, .section--right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: clamp(4px, 2vw, 20px);
}

.habit, .reminder, #addHabit, #addReminder {
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    border: 2px solid var(--neutral1);
    border-radius: 12px;
    padding: clamp(4px, 2vw, 20px);
    margin: clamp(4px, 1vw, 20px);
}

.hidden {
    display: none;
}

.habit > button {
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input[type="time"] {
    border: none;
    outline: none;
    transition:all 0.2s;
    color: var(--secondary-color);
    font-weight: 500;
}

input[type="time"]:hover {
    border-bottom: 1px solid var(--secondary-color);
}